
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(32, 99, 128), rgb(143, 24, 24));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0 0 12px 7px rgb(143, 24, 24)  ;
    text-align: center;
    
    width: 500px;
}
.option {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:0 0 12px 7px rgb(143, 24, 24)  ;
}
.option:hover {
    background-color: #d5d5d5;
}
.option.correct {
    background-color: #a5d6a7;
}
.option.incorrect {
    background-color: #ef9a9a;
}
#next {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#next:hover {
    background-color: #1976d2;
}


